.odometer {
  height: 1em;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  margin: 2em auto;
  display: inline-block;
  background: #222;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 2px 8px -2px #000;
  -webkit-box-shadow: inset 0 2px 8px -2px #000;
  box-shadow: inset 0 2px 8px -2px #000;
}

.digit {
  display: inline-block;
  height: 1em;
  width: 0.59em;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0 0.2em;
}
.digit:first-child {
  border-left: none;
}

.digit-container {
  line-height: 1em;
  -webkit-animation: slide infinite linear;
  animation: slide infinite linear;
}

.digit-one {
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
}

.digit-ten {
  -webkit-animation-duration: 50000ms;
  animation-duration: 50000ms;
}

.digit-hundred {
  -webkit-animation-duration: 500000ms;
  animation-duration: 500000ms;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(-10em);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes slide {
  from {
    transform: translateY(-10em);
  }
  to {
    transform: translateY(0);
  }
}
body {
  font-size: 92px;
  background: #333;
  text-align: center;
}
